@model DGame.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<p class="text-success">@ViewBag.StatusMessage</p>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb30">
    <div class="tutor-block">
        <div class="tutor-content">
            <h2 class="gold-bold-label">Manage profile</h2>
            <div>
                
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                
            </div>
            
            <hr />
            <h3>You have @Model.ViewsCount new views of your games...</h3>

            @if (Model.ViewsCount > 0)
            {
                <h4>You can get your $@(Model.ViewsCount * 0.1) dollars now, just click cashout button!!!</h4>
            }
            
            <input id="cashout" type="button" value="Cash out" />
        </div>
    </div>
    <div class="social-media">
    </div>
</div>
