@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb60 text-center">
        <h2 class="gold-bold-label">Opportunities</h2>
    </div>
</div>

<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 mb30">
    <div class="tutor-block">
        <div class="tutor-content">
            <h2 class="gold-bold-label">Game creator</h2>

            <p class="red-bold-label">
                You can upload games and you will have part of reclames profit.
                Profit is divided between game creators by game ratings (views).
            </p>

            <h4 class="gold-label">What to upload?</h4>

            <p class="red-bold-label">
                You must upload <strong class="gold-label">your_game_name.zip</strong> archive which includes your game files stuff.
                When we display your game we build canvas with id "game-canvas", to properly rendering your game
                you must select canvas with this id in your <strong class="gold-label">your_game_logic.js</strong> for example.
            </p>
        </div>
    </div>
    <div class="social-media">
    </div>
</div>

<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 mb30">
    <div class="tutor-block">
        <div class="tutor-content">
            <h2 class="gold-bold-label">Advertiser</h2>

            <p class="red-bold-label">
                You can upload advert to your business.
                Part of your money must sended to creators of the most popular games,
                another part will used for site maintenance.
            </p>

            <h4 class="gold-label">What to upload?</h4>

            <p class="red-bold-label">
                You must upload <strong class="gold-label">advert image</strong> and link (redirection link for your image
                click event).
                After that you must pay fixed amount of 0.02 ethers for this advert, your advert will be showed for 30 days,
                after that it will be removed!
                Image will be displayed when transaction is mined.
            </p>
        </div>
    </div>
    <div class="social-media">
    </div>
</div>