@model List<DGame.DataModels.Game>

@{
    ViewBag.Title = "Home Page";
}

<script src="/Home/GetFile"></script>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb60 text-center">
            <h2 class="gold-bold-label">Top games</h2>
        </div>
    </div>
    <div class="row">
        @foreach (var game in Model)
        {
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30">
                <div class="tutor-block">
                    <div class="tutor-img">
                        <img height="300" width="200" src="/Game/GetFile?gameName=@game.Name&filename=logo.jpg">
                    </div>
                    <div class="tutor-content">
                        <h5 class="tutor-title">
                            @if (Request.IsAuthenticated)
                            {
                                @Html.ActionLink(game.Name, "Play", "Game", new { id = game.Id }, null)
                            }
                            else
                            {
                                @game.Name
                                <br />
                                <small>Log in to play</small>
                            }
                        </h5>
                        <span class="tutor-designation">(@game.Owner.UserName)</span>
                        <p>@game.Description</p>
                    </div>
                </div>
                <div class="social-media">
                </div>
            </div>
        }
    </div>
</div>