@model List<Tuple<string, string>>

@if (Model.Count > 0)
{
    foreach (var pair in Model)
    {
        <a href="@pair.Item2">
            <img class="add-image" src="/Advertise/GetAdvertImage?filename=@pair.Item1"/>
        </a>
    }
}
